{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ajouter des graines{% endblock %}

{% block body %}
{{ parent() }}
<h3 class="text-center text-primary mt-4 pt-4 display-3 fw-bold">Ajouter des graines</h3>
<div class="container p-4">
    {{form_start(form)}}
        
        {{form_label(form.nom, 'Nom de la graine', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.nom, {'attr':{'class':'form-control', 'placeholder':'Le nom de la graine à ajouter'}})}}

        {{form_label(form.nomFamille, 'Famille de la graine', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.nomFamille, {'attr':{'class':'form-control'}})}}

        {{form_label(form.periodePlantation, 'Début de la période de plantation', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.periodePlantation, {'attr':{'class':'form-control'}})}}

        {{form_label(form.periodeRecolte, 'Début de la période de récolte', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.periodeRecolte, {'attr':{'class':'form-control'}})}}

        {{form_label(form.conseils, 'Conseils de jardinage', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.conseils, {'attr':{'class':'form-control', 'placeholder':'Ajouter les conseils de jardinage'}})}}

        {{form_label(form.image, 'Image de la plante', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.image, {'attr':{'class':'form-control', 'placeholder':'Insérer une image'}})}}

        
        {{form_label(form.quantite, 'Quantité de graines', {'label_attr':{'class':'fw-bold text-dark'}})}}
        {{form_widget(form.quantite, {'attr':{'class':'form-control', 'placeholder':'La quantité de graines en stock'}})}}


        {{form_widget(form.ajouter, {'label':"Ajouter", 'attr':{'class':'btn bg-primary text-light justify-content-center'}})}}
    {{form_end(form, {render_rest: true})}} 

</div>

{% endblock %}
